*
!*/

build/
.vscode/
libs/external/

!*.cpp
!*.cc
!*.h
!*.hpp
!*.inl
!*.def
!*.exp
!*.manifest

!*.txt
!*.md
!*.gitignore

!*.bat
!*.sh

!*.ini
!*.json
!*.xml

!*.cmake
!*.mk
!*.vcproj
!*.vcxproj
!*.vcxproj.filters
!*.sln
!*.vsprops
!*.snippet
!Makefile
!Makefile.*

*~
!cmake/.vscode/
!.clang-format

